Repository countr/countr, pull requests merged in 2022-08, with the labels that each got.

#362 Fix interaction commands
  src/handlers/interactions/index.ts
  src/index.ts
Labels: countr

#364 Fix interactions again
  src/handlers/prepareGuilds/recover.ts
  src/index.ts
Labels: countr

#369 fix typo
  src/commands/chatInput/filters/remove.ts
Labels: countr

#378 Update default embed color
  src/handlers/counting/repost/embed.ts
Labels: countr

#382 Fix ignoring message with reply
  src/index.ts
Labels: countr

#390 Fix #220
  src/constants/flows/actions/setCount.ts
Labels: countr

#380 Add documentation
  README.md
  example.env
Labels: repository

#396 update wording in /select
  src/commands/chatInput/select.ts
Labels: countr

#420 Reduce liveboard update interval
  src/handlers/liveboard.ts
Labels: countr

#421 Reduce bulk delete ratelimit
  src/constants/discord.ts
Labels: enhancement, countr

#428 Fix notifications list select menu item description exceeding 100 characters
  src/commands/chatInput/notifications/list.ts
Labels: bug, countr

#429 Update select menu placeholder
  src/commands/chatInput/modules.ts
Labels: enhancement, countr

#437 Fix liveboard removing itself after some time
  src/handlers/liveboard.ts
Labels: bug, countr

#436 Check permissions on delete
  src/handlers/counting/index.ts
Labels: enhancement, countr
