Repository countr/countr, pull requests merged in 2022-10, with the labels that each got.

#501 add unit tests for text and human utils
  src/utils/human.test.ts
  src/utils/text.test.ts
Labels: countr

#500 Make hex and base64 counting case insensitive
  src/constants/numberSystems/base36.ts
  src/constants/numberSystems/hexadecimal.ts
Labels: enhancement, countr

#507 Upgrade to Node.js v18
  .github/renovate.json
  .github/workflows/linting.yml
  .github/workflows/testing.yml
  Dockerfile
  package-lock.json
  package.json
  tsconfig.json
Labels: enhancement, repository

#471 Add position roles
  src/commands/chatInput/positionroles/list.ts
  src/commands/chatInput/positionroles/set.ts
  src/commands/chatInput/scores/modify.ts
  src/commands/chatInput/scores/prune.ts
  src/constants/limits.ts
  src/database/models/Guild.ts
  src/handlers/counting/index.ts
  src/handlers/counting/positionRoles.ts
  src/handlers/counting/timeouts.ts
Labels: enhancement, countr

#524 Fix embed color
  src/config.ts
Labels: countr
