Repository countr/countr, pull requests merged in 2022-12, with the labels that each got.

#642 Add automatic token reset
  src/config.ts
  src/handlers/automaticTokenReset.ts
  src/index.ts
Labels: enhancement, countr

#645 Use token reset package
  package-lock.json
  package.json
  src/handlers/automaticTokenReset.ts
Labels: enhancement, repository, countr

#652 Fix issue in granting roles in Unique Role
  src/constants/flows/actions/uniqueRole.ts
Labels: countr
